Source: openvpn-network-applet
Section: libs
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper-compat (= 12),
 maemo-system-services-dev,
 libhildon1-dev,
 libhildonfm2-dev,
 libhildondesktop1-dev,
 hildon-control-panel-dev,
 libgtk2.0-dev,
 libglib2.0-dev,
 libosso-dev,
 libgconf2-dev,
 libdbus-1-dev,
 libconnui-dev,
 libicd-openvpn-dev,
Standards-Version: 4.3.0

Package: status-area-openvpn
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 openvpn,
 libicd-network-openvpn,
 libicd-provider-openvpn,
Description: OpenVPN status area applet

Package: control-panel-openvpn
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 openvpn,
 libicd-network-openvpn,
 libicd-provider-openvpn,
Description: OpenVPN control panel applet

Package: openvpn-maemo
Section: user/network
Architecture: all
Depends:
 ${misc:Depends}
 status-area-openvpn,
 control-panel-openvpn,
 libicd-network-openvpn,
 libicd-provider-openvpn,
Description: OpenVPN connectivity package
 This package serves as a metapackage to install ICD2 plugins and
 providers for OpenVPN, and the accompanying graphical user
 interfaces.
XB-Maemo-Icon-26: ${maemo:icon26}
