Source: applet-openvpn
Section: libs
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper-compat (= 12),
 libhildon1-dev,
 libhildonfm2-dev,
 libhildondesktop1-dev,
 hildon-control-panel-dev,
 libgtk2.0-dev,
 libglib2.0-dev,
 libosso-dev,
 libgconf2-dev,
 libdbus-1-dev,
 libconnui-dev,
 libicd-openvpn-dev,
Standards-Version: 4.3.0

Package: status-area-openvpn
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 openvpn,
 libicd-network-openvpn,
 libicd-provider-openvpn,
Description: OpenVPN status area applet

Package: control-panel-openvpn
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 openvpn,
 libicd-network-openvpn,
 libicd-provider-openvpn,
Description: OpenVPN control panel applet
